<div class="flex pl-5 gap-2 mt-5 justify-end font-Assistant">

    <div class="flex bg-white rounded-2xl shadow-soft-xl text-slate-500 px-4 py-3 gap-3 ">
        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
            <ng-icon class="text-lg relative top-3.5 text-white" name="bootstrapBarChart"></ng-icon>
        </div>
        <div class="flex flex-col text-left">
            <p class="font-semibold">סך הכל תרומות לחודש:</p>
            <p>10,000 ₪</p>
        </div>
    </div>
    <div class="flex bg-white rounded-2xl shadow-soft-xl text-slate-500 px-4 py-3 gap-3 ">
        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
            <ng-icon class="text-lg relative top-3.5 text-white" name="bootstrapBarChart"></ng-icon>
        </div>
        <div class="flex flex-col text-left">
            <p class="font-semibold">סך הכל עמלות לחודש:</p>
            <p>10,000 ₪</p>
        </div>
    </div>
    <div class="flex bg-white rounded-2xl shadow-soft-xl text-slate-500 px-4 py-3 gap-3 ">
        <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
            <ng-icon class="text-lg relative top-3.5 text-white" name="bootstrapBarChart"></ng-icon>
        </div>
        <div class="flex flex-col text-left">
            <p class="font-semibold">סך הכל יתרה לגבייה:</p>
            <p>10,000 ₪</p>
        </div>
    </div>
</div>