<div>
    <div class="flex p-5 gap-2">
        <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-dashboard/assets/img/drake.jpg"
        alt="avatar image"
        class="inline-flex items-center justify-center w-12 h-12 mr-2 text-white transition-all duration-200 ease-in-out text-sm rounded-xl" />
        <div class="">
            <p>שלום נייהוז</p>
            <div class="flex gap-1 items-center">
                <ng-icon class="text-slate-500 text-lg" name="heroMapPin"></ng-icon>
                <p class="text-slate-500 text-xs">מודיעין עילית, ישראל</p>
            </div>
        </div>
    </div>
</div>
<hr class="mt-1 mx-4">